/*--- To eliminate any space around the body ---*/
*{
    margin: 0 auto;
}


/*--- To change the color of the body ---*/
body{
    background-color: gainsboro;
}

/*--- To give style to the container ---*/
.container {
    background-color: cornflowerblue;
    height: 400px;
    width: 800px;
    margin: 12% 25%;
    border: 2px solid;
}

/*--- To give style to the circle ---*/

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 190px 50px 0 310px;
    text-align: center;
    line-height: 140px;
    background: radial-gradient(circle at 74% 25%, white 1px, crimson 7%, darkred 70%, red 100%);
    color: white;
    font-family: sans-serif;
    font-size: 17px;
}

/*--- To apply the animation ---*/
.container:hover .circle{
    animation: move 17s linear infinite;
}

/*--- To control the animation ---*/
@keyframes move {
    0%{
        transform: translate(-310px, -190px);
        height: 150px;
        width: 150px;

    }
    9%{
        transform: translate(100px, 65px);
        height: 150px;
        width: 150px;
    }
    
    10%{
        transform: translate(100px, 60px);
        height: 120px;
        width: 150px;
    }
    
    
    20%{
        transform: translate(365px, -80px);
        height: 150px;
        width: 120px;
    }
    
     21%{
        transform: translate(345px, -80px);
        height: 120px;
        width: 150px;
    }
    
    30%{
        transform: translate(245px, -195px);
        height: 150px;
        width: 150px;
    }
    
    31%{
        transform: translate(245px, -195px);
        height: 120px;
        width: 150px;

    }
    
    
    39% {
    transform: translate(190px, 65px);
        height: 150px;
        width: 150px;
  }
    40% {
    transform: translate(190px, 70px);
        height: 120px;
        width: 150px;
  }
   
    50%{
        transform: translate(375px, -80px);
        height: 150px;
        width: 120px;
    }
    
    
    59%{
        transform: translate(-310px, -80px);
        height: 150px;
        width: 150px;
    }
    60%{
        transform: translate(-310px, -80px);
        height: 150px;
        width: 120px;
    }
    
    69%{
        transform: translate(45px, 90px);
        height: 120px;
        width: 150px;
    }
    
    70%{
        transform: translate(45px, 65px);
        height: 150px;
        width: 150px;
    }
    
    79%{
        transform: translate(345px, -65px);
        height: 150px;
        width: 150px;
    }
    
    80%{
        transform: translate(345px, -65px);
        height: 150px;
        width: 120px;
    }
    
    100%{
        transform: translate(-310px, -190px);
    }
}